body {
  font-family: 'Helvetica', sans-serif;
    fill: gray;
}

.bar rect {
  fill: gray;
  shape-rendering: crispEdges;
  opacity: 0.4;
}

.bar text {
  fill: #fff;
}

.line {
  fill: none;
  stroke: grey;
  stroke-width: 2px;
}

div.tooltip {
  color: grey;
  font-size: 16px;
}

.district-boundary {
  stroke: #aaa;
  fill: none;
  stroke-width: 0.5;
}

.country-boundary {
  stroke: #666;
  fill: none;
  stroke-width: 2.5;
}

.axis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: gray;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: grey;
  text-align: center;
  font-size: 18px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.cases {
  stroke: black;
  fill-opacity: 0.7;
  stroke-opacity: 0.3;
}
